@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-btn {
    /* Estilos personalizados para el botón no seleccionado */
    background-color: #254e58;
    color: #379683;
    border-color: #379683;
    /* Agrega estilos de borde */
    border-width: 1px;
    border-style: solid;
    border-radius: 0.25rem;
    width: 120px;
    height: 48px;
  }

  .custom-btn.btn-selected {
    /* Estilos personalizados para el botón seleccionado */
    background-color: #112d32;
    color: #88bdbc;
    border-color: #edf5e0;
  }
}

body {
  color: #88bdbc;
  /* Mantén tu estilo de fondo personalizado aquí */
  background: linear-gradient(
      to bottom,
      transparent,
      #112d32
    )
    #88bdbc;
}

.box {

  background-color: #112d32;
  color: #88bdbc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.25rem;
}

.box img {
  /* Estilos de la imagen dentro del cuadro */
  width: 50%;
  height: auto;
}

.box p {
  /* Estilos del texto dentro del cuadro */
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #254e58;
  margin-bottom: 0.75rem;
  white-space: pre-line;
}
.box-container {
  border: 2px solid #edf5e0;
  border-radius: 0.25rem;
  width: 50%;
}
.navbar-container {
  height: 80px;
}